header {
    background-color: powderblue;

    
}

.Graphing-Calculator img {
    display: block;
    margin: 10px auto
    max-width: 150px;

   

.Stock-Analyzer

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
